.greeting {
    text-align: center;
}

.upcomingRides {
    margin: auto;
    color: black;
    margin-top: 20px;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 1rem;
    width: auto;
    height: auto;
}

.myGarage {
    margin: auto;
    color: black;
    margin-top: 20px;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 1rem;
    width: auto;
    height: auto;
}

.myReviews {
    margin: auto;
    color: black;
    margin-top: 20px;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 1rem;
    width: auto;
    height: auto;
}
.addBikeButton {
    margin-left: 20px;
    margin-top: 20px;
}

.addBikeDialog {
    width: 250px;
    background-color: lightgrey;
}

.upcomingRidesText {
    margin-left: 10px;

}

.myGarageText {
    margin-left: 10px;
}