.detailContainer {
    margin: auto;
    margin-top: 3rem;
    border-radius: 20px;
    background-color: black;
    width: 75%;
    height: 300px;
    color:white;
    text-align: center;
}

.bikeHeading {
    font-size: 2.5rem;
    padding-top: 1rem;
}

.secondThird {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.bikeDeets {
    padding: 10px;
    width: 25%;
}

.bikeImageCont {
    padding: 10px;
    background-color: white;
    color: black;
    width: 65%;
}

.thirdThird {
    padding-top: 1rem;
}