.individualBike {
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: fit-content;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.bikes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bike__image {
    height: 10rem;
}

.searchedCity {
    margin-top: 2rem;
    text-align: center;
}

.searchForm {
    text-align: center;
}